* {
    margin: 0;
    padding: 0;
}



.hi {
    display: flex;
    line-height: 40px;
    flex-direction: column;
    margin-left: 690px;
    letter-spacing: 1px;
    color: #5071A3;

}
.autorization {
    margin-left: -10px;
}

input {
    width: 375px;
    height: 35px;
    border-radius:10px;
    background-color:#E7E7E7 ;
    color: #305285;
    gap: 100px;
    
}

.flex {
    display: flex;
    flex-direction: column;
    column-gap: 100px;
    position: absolute;
    text-align: center;
    margin-left: 560px;
    margin-top: 40px;
}

.password {
    margin-top: 40px;

}

.register {
    margin-left: 560px;
    padding-top: 10px;
    margin-top:30px;
    width: 400px;
    height: 40px;
    background-color: #305285;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #E7E7E7;


}
p {
    margin-left: 600px;
    margin-top: 180px;
    color: #305285;
}

img {
    margin-left: 870px;
    height: 70px;
    margin-top: 5px ;
    z-index: 1;
    position: absolute;
}

.or {
    margin-top: 100px;
    margin-left: 750px;
    color: #305285;
}
.google {
    margin-left: 550px;
    margin-top: 20px;
    height: 40px;
    width: 400px;
    background-color: #E7E7E7;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    text-decoration: none;
    position: absolute;
    color: #8394AB;
    padding-left: 50px;

}

.logo {
    height: 25px;
    margin-top: 30px;
    position: absolute;
    z-index: 2;
    margin-left: 660px;
    background-color: #8394AB;
}


